body {
    font-size: 16px;
}

h1 {
    font-size: 48px;
    color: #2e7ad3;
    text-align: center;
    margin: 45px 0px;
}

h2 {
    font-size: 32px;
    color: #104c98;
    margin: 0px;
    margin: 0px 0px 15px;
}

.blog-post {
    background-color: #f1f1f1;
    width: 450px;
    padding: 25px;
}